.formbuilder {
    position: relative;
}

.drag-container {
    padding: 10px;
    border: dotted 2px #e8e8e8;
}

.drag-container:hover {
    cursor: move;
    border: dotted 2px #ccc;
}

.drag-container.formio-builder-form,
.drag-container.formio-builder-form:hover,
.panel-body > .drag-container.formio-builder-components,
.panel-body > .drag-container.formio-builder-components:hover,
.tab-pane > .drag-container.formio-builder-components,
.tab-pane > .drag-container.formio-builder-components:hover {
    padding: 0 0 1rem 0;
    border: none;
}

.component-btn-group {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    z-index: 1000;
    margin-top: -2px;
}

.builder-component {
    position: relative;
    min-height: 15px;
    margin-bottom: 15px;
    .formio-component-htmlelement {
        border: dotted 2px #e8e8e8;
        [ref=html]:empty:before {
            content: 'HTML Content';
            color: #aaa;
        }
    }
}

.builder-component:not(:hover) .component-btn-group {
    display: none;
}

.builder-group-button {
    background-color: transparent;
    white-space: normal;
    text-align: left;
}

.form-builder-group-header {
    padding: 0;
}

.component-btn-group .component-settings-button {
    float: right;
    z-index: 1001;
    margin: 4px 4px 0 0;
    z-index: 1001;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
    -moz-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
    box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
}

.formbuilder .formio-component-hidden,
.formbuilder .formio-component-content,
.formbuilder .formio-component-form,
.formbuilder .formio-component-datasource {
    border: 2px dashed #ddd;
}

.formbuilder .formio-component-form,
.formbuilder .formio-component-hidden,
.formbuilder .formio-component-datasource {
    min-height: 3em;
    text-align: center;
    color: #aaa;
    padding-top: 0.5em;
}

.btn-xxs, .btn-group-xxs > .btn, .component-btn-group .component-settings-button {
    padding: 2px 2px;
    font-size: 10px;
    line-height: 1.2em;
    border-radius: 0;
    width: 18px;
    height: 18px;
}

.formcomponents .formcomponent {
    text-align: left;
    padding: 5px 5px 5px 8px;
    margin-top: 0.2rem;
    font-size: 0.8em;
    line-height: 1.2;
    border-radius: 0.3em;
}

.form-builder-panel .panel-body {
    padding: 5px;
}

.formio-component-tabs .ui.tabular.menu .item {
    padding: 0.8em;
}

.formio-pdf-builder {
    position:relative;
}

.formio-drop-zone {
    display: none;
    position: absolute;
    z-index:10;
    background-color: #0d87e9;
    opacity: 0.1;
}

.formio-drop-zone.enabled {
    display: inherit;
}

.component-settings .formio-dialog-content {
    max-height: 100%;
    .ck-editor__editable ol {
        padding-inline-start: 40px;
    }
}

.component-btn-group .btn.component-settings-button-paste {
    display: none;
}

.builder-paste-mode .component-settings-button-paste {
    display: inherit !important;
}

.wizard-page-label {
    cursor: pointer;
    border-radius: 0;
}

.panel-body .drag-and-drop-alert {
    margin-bottom: 0;
}

.builder-sidebar {
    &_scroll {
        position: sticky;
        top: 15px;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.builder-sidebar_search {
    margin-bottom: 10px;
    appearance: auto;
}

.formio-wizard-builder-component-title {
    color:#6c757d;
    text-align:center;
    padding: 0.5rem;
}

.formio-wizard-position {
    position: relative;
}

.gu-mirror {
    list-style-type: none;
}

.formio-settings-help {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-top: 10px;
}

.help-block {
    margin: 0px;
}

.builder-sidebar .btn {
    white-space: normal;
}

/* Styles for component edit modal */
.component-settings {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.component-edit-container {
    height: auto;
    overflow: hidden;
}

.component-edit-content {
    height: calc(100% - 4em);
}

.component-edit-tabs.col-sm-6 {
    min-height: 87vh;
    height: 100%;
}

.component-edit-tabs.col-sm-12 {
    height: calc(100% - 4em);
    overflow-y: auto;
}

.component-edit-tabs.col-sm-12 .editForm {
    height: calc(100% - 4em);
    overflow-y: auto;
}

.progress.pdf-progress {
    height: 2rem;
}

.progress.pdf-progress .progress-bar {
    font-size: 1rem;
    line-height: 2rem;
}

.builder-sidebar.disabled {
    .formcomponent {
        cursor: not-allowed;
        opacity: 0.65;
        box-shadow: none;
    }
}

.builder-component-selected {
    border: 2px dashed #919191;
    outline: none !important;
}
.input-group {
    position: relative;
    margin: 40px 0 20px;

    label {
        color: #999;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label,
    input:valid ~ label {
        top: -20px;
        font-size: 14px;
    }

    .bar {
        position: relative;
        display:block;
        width:315px;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* animations */
    @-webkit-keyframes inputHighlighter {
        from { background: #4285f4; }
        to   { width: 0; background: transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background: #4285f4; }
        to   { width: 0; background: transparent; }
    }
    @keyframes inputHighlighter {
        from { background: #4285f4; }
        to   { width: 0; background: transparent; }
    }
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-group-xxs>.btn, .btn-xxs, .component-btn-group .component-settings-button {
    border-radius: 0;
    font-size: 10px;
    height: 18px;
    line-height: 1.2em;
    padding: 2px;
    width: 18px;
}
.component-btn-group .component-settings-button {
    -webkit-box-shadow: 0 0 10px 1px rgba(48, 113, 169, .6);
    -moz-box-shadow: 0 0 10px 1px rgba(48, 113, 169, .6);
    box-shadow: 0 0 10px 1px rgba(48, 113, 169, .6);
    float: right;
    margin: 4px 4px 0 0;
    z-index: 1001;
}

