.storybook-page {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 800px;
  color: #333;
}


.storybook-page-build {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  color: #333;
}
