.accordion {
  border-bottom: none;
}
@media (min-width: 992px) {
  .accordion-header .accordion-button {
    border-top: none;
    font-size: 1rem;
  }
}

.accordion-body {
  padding: 12px 0px 42px;
}

