.col-form-label {
  padding: 0.375rem;
}
.input-group {
  margin: 0 0 20px;
}

input[type="text"], input[type="email"]{
  border: none;
  border-bottom: 1px solid #5b6f82;
  border-radius: 0;
  padding: .375rem .5rem;
  outline: 0;
  height: 3rem;
  box-shadow: none;
  transition: none;
  font-weight: 700;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-size: 1.125rem;
  background-size: 70px 45% !important;
}
.formio-component-textfield, .formio-component-select, .formio-component-radio, .formio-component-email, .formio-component-selectboxes, .formio-component-currency{
  .col-form-label{
    font-size: 1rem;
  }
}

//Nascondo le label dei campi formio hidden
input[type="hidden"] + label{
display: none;
}
.formio-component-label-hidden{
  .field{
    height: auto;
  }
}

//Floating label
.field {
  display: flex;
  flex-flow: column-reverse;
  height: 87px;
  margin-bottom: .5rem;

  label, input, textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  input, textarea {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #5b6f82;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 6px 10px 6px 8px;
    cursor: text;
    background: transparent;
  }

  input:focus, textarea:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }


  .input-group{
    color: rgb(26, 26, 26);
    margin: 40px 0 20px;
    input:placeholder-shown + label {
      transform: translate(-.7rem, 1.6rem);
    }
  }

  input:placeholder-shown + label, textarea:placeholder-shown + label {
    cursor: text;
    height: auto;
   /// white-space: nowrap;
   // overflow: hidden;
   // text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.5rem);
    //font-weight: 700;
    font-size: 18px;
    padding: 6px 10px 6px 8px;
    z-index:1;
    i{
      z-index: 2;
    }
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .input-group{
    color: rgb(26, 26, 26);
    input:not(:placeholder-shown) + label,
    input:focus + label{
      transform: translate(-.7rem, -.5rem);
    }
    input[readonly] + label,  input[disabled] + label{
      transform: translate(-.7rem, -2.5rem);
    }
  }
  input:not(:placeholder-shown) + label,
  input:focus + label,
  textarea:not(:placeholder-shown) + label,
  textarea:focus + label{
    transform: translate(0, 0rem);
    cursor: pointer;
    font-size: 16px;
    padding: 6px 10px 6px 8px;
  }
  .input-group-text{
    font-weight: 700;
  }

}
.required{
  .floating-label:after {
    content: " *";
    color: #EB0000;
  }
}