/*** This imports created file formio-full
@import '~@formio/choices.js/src/styles/choices.scss';
@import '~tippy.js/dist/tippy.css';
@import '~dialog-polyfill/dialog-polyfill.css';
@import "~dragula.scss/dist/dragula.css";
@import "~bootstrap-icons.scss/font/bootstrap-icons.min.css";
@import "../../components/renderform/RenderForm";
@import "../../components/buildform/BuildForm";
//@import "@formio/js/dist/formio.full.css";
***/
@import "../../components/renderform/RenderForm";
@import "../../components/buildform/BuildForm";

//Libraries
@import "libs/custom-bootstrap-italia";
$bootstrap-icons-font-dir: "https://static.opencityitalia.it/widgets/formio/fonts" !default;
$primary:#1C74D9;

@import "node_modules/bootstrap-icons/font/bootstrap-icons";

//Variables
@import "variables/variables";

//Vendor
@import 'node_modules/@formio/choices.js/src/styles/choices.scss';
@import 'vendor/tippy';
@import 'vendor/dialog-polyfill';
@import "vendor/dragula";


//Components
@import "componets/accordion";
@import "componets/button";
@import "componets/card";
@import "componets/dynamic-calendar";
@import "componets/multi-range-slider";
@import "componets/fieldset";
@import "componets/input";
@import "componets/link-list";
@import "componets/textarea";
@import "componets/tooltip";
@import "componets/pagebreak";
@import "componets/paragraph";
@import "componets/progress";
@import "componets/select";
@import "componets/notification";

//Utils
@import "utils/print";


body{
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

